html, body,{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
  width: 100%;
  height: 800px;
    position: absolute;
    top: 100px;
    bottom: 0;
}
.shadow {
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.15);
}
.round-bottomleft {
    border-bottom-left-radius: 3px;
}
.mapboxgl-ctrl-nav > a {
    border-color: rgba(0,0,0,.1);
}
@media only screen and (max-width:640px) {
    .leaflet-left .leaflet-control,
    .mapboxgl-ctrl-top-left .mapboxgl-ctrl {
        margin-top: 70px;
    }
    .round-bottomleft {
        border-bottom-left-radius: 0;
    }
    .mobile-fullwidth {
        width: 100%;
        height: 60px;
        overflow: auto;
    }
}

.opacity{
  font-size: 0.7em;
}
