img{
  margin: 0;
  padding:0;
}
h2{
  margin: 0;
  padding-top:10px;
  padding-left: 120px;
  font-family: "Verdana";
  font-weight: bold;
}

#myCanvas{
  display: block;
  float: bottom;
}
/*.canvas-layers { position:relative;}*/
#canvas-container {
  position: relative;
  padding: 20px;
  height: 600px;
  background-color: #000000;
  width: 500px;
}

#canvas-title {
  position: absolute;
  bottom:20px;
  width: 500px;
  height: 70px;
  margin:0;
  padding: 0;
  border: none;
  font-size: 12px;
  text-align: left;
  color: rgb(224, 224, 224);
  background: #2b2b2b;
}

#container-map {
  position: relative;
  background-color: #000000;
  width: 500px;
  padding: 20px;
}

#map {
  position: relative;
  top: 0px;
  width: 500px;
  height: 600px;
  margin:0;
}

#titreMap {
  display: block;
  position: relative;
  width: 500px;
  height: 70px;
  margin-top: -30px;
  padding: 0;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: left;
  color: rgb(224, 224, 224);
  background: #2b2b2b;
}

#titreMap p{
  font-weight: bold;
  font-style: normal;
  font-family: "Verdana";
  padding:0;
  font-size: 12px;
  text-align: left;
  color: rgb(224, 224, 224);

}
.rubrique{
  margin-left: 110px;
  font-style: normal;
  font-weight: bold;
  font-family: "Verdana";
  color:#ff0073;
}

.left {
  display: block;
  float: left;
  width: 50%;
  min-height: 100px;
  margin-right: 40px;
  margin-left: 40px;
}

.right {
  display: block;
  float: left;
  width:40%;
  margin-left: 0px;
  min-height: 400px;
}
